<div class="card">
    <h3 class="card-header">Power Control</h3>
    <div class="card-block">
        <div class="row">
            <div class="col-md-3"><button ng-click="compToggle()" class="btn btn-outline-warning btn-block">Compressor</button></div>
            <div class="col-md-3"><button ng-click="millToggle()" class="btn btn-outline-warning btn-block">Mill</button></div>
            <div class="col-md-3"><button ng-click="latheToggle()" class="btn btn-outline-warning btn-block">Lathe</button></div>
            <div class="col-md-3"><button ng-click="USBToggle()" class="btn btn-outline-warning btn-block">USB-Lader</button></div>
        </div>
    </div>
</div>